% compile options
{erl_opts, [no_debug_info,
            {d, debug},
            {i, "include"}, 
            {src_dirs, ["src"]}]}.
% edoc
{edoc_opts, [{layout,edoc_layout_utf8}]}.

% eunit
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.
{eunit_compile_opts, 
    [debug_info,
    {i, "include"}, 
    {src_dirs, ["src", "test/unit"]}]}.
{eunit_first_files, []}.

{cover_enabled, true}.
{cover_print_enabled, true}.
{cover_export_enabled, false}.

% common test
{ct_dir, "test"}.
{ct_log_dir, "test/logs"}.
{ct_extra_params, "-boot start_sasl"}.
{ct_use_short_names, true}.

{clean_files, ["ebin/*.beam", "ebin/*.config"]}.

{validate_app_modules, true}.

%{deps_dir, "deps"}.
%{deps, []}. 

{sub_dirs, []}.

{pre_hooks, [
    ]}.
%{post_hooks, [{clean, "touch file1.out"}]}.

{xref_warnings, true}.
% {xref_checks, [exports_not_used, undefined_function_calls]}.
{xref_checks, [locals_not_used]}.
{xref_queries,
 [{"(XC - UC) || (XU - X - B
      - (\"protobuffs_compile\":\"scan_file\"/\"2\"))",
         []}]}.
